// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 $colorsuave: #fff7bc;
 $colormedio: #fec44f;
 $colorfuerte: #d95f0e;
.list{
	float:left;
	margin-left: 20px;
	margin-right: 20px;
	padding-left:10px;
	padding-right:10px;
	border-radius:5px;
	background-color: $colorsuave;
	min-width: 100px;
}
.sortable_task{
	background-color:darken($colorsuave,10%);
	padding-left:5px;
	border-radius:5px;
	border:Solid 5px darken($colorsuave,10%);
	
}

